PORT=5000
MONGO_URI=
JWT_SECRET=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_SYNC_PASSWORD=false

EMAIL_USER=
EMAIL_PASS=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
# TWILIO_MESSAGING_SERVICE_SID=
